{% extends "announcement/base.html"%}
{% block content %}
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h2 class="article-title">{{ log.student }} Submission</h2>
            <p>Description: {{log.body}}</p>
            <p>Date of Submission: {{log.submission_date}}</p>
            {% if log.submission_file %}
            <p>Uploaded File:
              <a href="{{ object.submission_file.url }}" class="btn btn-secondary btn-sm" target="_blank">
                  {{log.submission_file}} </a>
              </p>
			{% endif %}

		</div>
	</div>
</div>

<div class ="row">

	{% if object.student == user %}
	<div>
	  <a class="btn btn-secondary" btn-sm mt-1 mb-1 href="{% url 'log-change' object.id %}">Update</a>
	</div>
	{% endif %}

	{% if object.student == user %}
	<div>
	  <a class="btn btn-danger" btn-sm mt-1 mb-1 href="{% url 'submission-delete' object.id %}">Delete</a>
  </div>
	{% endif %}

</div>







{% endblock content %}
