{% extends "Announcement/base.html" %}
{% load user_tags %}
{% block content %}
<div class="row">
	{% if request.user|has_group:"student" %}
	<div class="col">
		<div class="card card-body">
			
		     <a class ="btn btn-outline-secondary" href="{% url 'appointment-create'%}">Create New Appointment </a>
		
		</div>
	</div>
	{% endif %}
	
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			{% if request.user|has_group:"student" %}
			<table class="table table-sm">
				<tr>
					<th>Date</th>
					<th>Start</th>
					<th>End</th>
					<th>Location</th>
					<th>Supervisor</th>
					<th>Status</th>
					<th></th>
				</tr>
				{% for appointment in appointments %}
				<tr>
					<td>{{appointment.date}}</td>
					<td>{{appointment.start_time}}</td>
					<td>{{appointment.end_time}}</td>
					<td>{{appointment.location}}</td>
					<td>{{appointment.supervisor}}</td>
					<td>{{appointment.status}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'appointment-detail' appointment.id %}">Details</a></td>
				</tr>
				{% endfor %}

			</table>
			{% endif %}
			{% if request.user|has_group:"supervisor" %}
			<table class="table table-sm">
				<tr>
					<th>Date</th>
					<th>Start</th>
					<th>End</th>
					<th>Location</th>
					<th>Student</th>
					<th>Status</th>
					<th></th>
				</tr>
				{% for appointment in appointments %}
				<tr>
					<td>{{appointment.date}}</td>
					<td>{{appointment.start_time}}</td>
					<td>{{appointment.end_time}}</td>
					<td>{{appointment.location}}</td>
					<td>{{appointment.user}}</td>
					<td>{{appointment.status}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'appointment-detail' appointment.id %}">Details</a></td>
				</tr>
				{% endfor %}

			</table>
			{% endif %}

		</div>
		{% if is_paginated %}
  
        {% if page_obj.has_previous %}
          <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
  
        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% endif %}
        {% endfor %}
  
        {% if page_obj.has_next %}
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
          <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
  
	{% endif %}
	</div>
</div>


{% endblock content %}
